In [30]:
import sklearn
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [31]:
db = pd.read_csv("database/LocTreino_Equipe_4.csv")
#db = db.to_numpy()
db.head()

,lat,lon,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,pontoId
0,-8.05438,-34.95408,-89.044286,-96.667143,-91.320000,-96.106667,-94.480,-90.187143,-94.125000,-85.182,-96.4200,5,4,2,7531
1,-8.05337,-34.94889,-91.970000,-89.548571,-88.555714,-82.520000,-80.445,-89.910000,-88.916667,-91.602,-97.2550,5,2,4,7748
2,-8.05390,-34.95955,-85.255714,-99.635714,-86.551429,-94.520000,-100.225,-88.232857,-78.955000,-92.080,-66.4100,6,7,1,7636
3,-8.05561,-34.95431,-90.025714,-96.200000,-91.204286,-98.160000,-91.935,-92.671429,-78.636667,-68.340,-92.7800,6,5,2,7035
4,-8.05562,-34.95405,-94.525714,-96.200000,-93.830000,-98.216667,-94.670,-94.844286,-79.065000,-68.250,-96.2125,6,5,2,7026

In [32]:
X = db.drop("lat", axis = 1)
X = X.drop("lon", axis = 1)
X.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,pontoId
0,-89.044286,-96.667143,-91.320000,-96.106667,-94.480,-90.187143,-94.125000,-85.182,-96.4200,5,4,2,7531
1,-91.970000,-89.548571,-88.555714,-82.520000,-80.445,-89.910000,-88.916667,-91.602,-97.2550,5,2,4,7748
2,-85.255714,-99.635714,-86.551429,-94.520000,-100.225,-88.232857,-78.955000,-92.080,-66.4100,6,7,1,7636
3,-90.025714,-96.200000,-91.204286,-98.160000,-91.935,-92.671429,-78.636667,-68.340,-92.7800,6,5,2,7035
4,-94.525714,-96.200000,-93.830000,-98.216667,-94.670,-94.844286,-79.065000,-68.250,-96.2125,6,5,2,7026

In [43]:
lat = db["lat"]
lat.head()

0   -8.05438
1   -8.05337
2   -8.05390
3   -8.05561
4   -8.05562
Name: lat, dtype: float64

In [44]:
lon = db["lon"]
lon.head()

0   -34.95408
1   -34.94889
2   -34.95955
3   -34.95431
4   -34.95405
Name: lon, dtype: float64

In [49]:
res = pd.concat([lat, lon], axis=1)
res.head()

       lat       lon
0 -8.05438 -34.95408
1 -8.05337 -34.94889
2 -8.05390 -34.95955
3 -8.05561 -34.95431
4 -8.05562 -34.95405

In [55]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
res['lat'] = lb.fit_transform(res['lat'])
res['lon'] = lb.fit_transform(res['lon'])
res

      lat  lon
0     251  318
1     324  612
2     286   27
3     151  303
4     150  321
5      90  501
6     559  280
7     305  600
8     627  131
9     400  573
10    684  748
11    653  414
12    517   14
13    294   23
14    152  299
15    668  446
16    199  355
17     78  237
18    279  319
19    490    8
20    166  352
21    243  187
22    200  413
23    610  186
24    230  359
25    340  216
26     43  527
27    694  728
28    453    1
29    766  822
...   ...  ...
1470  622  143
1471  365  633
1472  497    6
1473   99  253
1474  565  398
1475  483  254
1476  629  128
1477  670  442
1478  398  141
1479  646   85
1480  170  519
1481  480  691
1482  329  210
1483  372  228
1484  541  272
1485  322  617
1486  396  620
1487  378  644
1488  447  553
1489  354   10
1490  299  646
1491  499  511
1492  569  352
1493  193   47
1494   87  252
1495  527  270
1496  575   31
1497  476  388
1498  323  610
1499  473  697

[1500 rows x 2 columns]

In [56]:
lb = LabelEncoder()
res['lat'] = lb.fit_transform(res['lat'])
res['lon'] = lb.fit_transform(res['lon'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, res, test_size = 0.3, random_state = 100)