In [7]:
import sklearn
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [8]:
db = pd.read_csv("database/LocTreino_Equipe_4.csv")
#db = db.to_numpy()
db.head()

,lat,lon,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,pontoId
0,-8.05438,-34.95408,-89.044286,-96.667143,-91.320000,-96.106667,-94.480,-90.187143,-94.125000,-85.182,-96.4200,5,4,2,7531
1,-8.05337,-34.94889,-91.970000,-89.548571,-88.555714,-82.520000,-80.445,-89.910000,-88.916667,-91.602,-97.2550,5,2,4,7748
2,-8.05390,-34.95955,-85.255714,-99.635714,-86.551429,-94.520000,-100.225,-88.232857,-78.955000,-92.080,-66.4100,6,7,1,7636
3,-8.05561,-34.95431,-90.025714,-96.200000,-91.204286,-98.160000,-91.935,-92.671429,-78.636667,-68.340,-92.7800,6,5,2,7035
4,-8.05562,-34.95405,-94.525714,-96.200000,-93.830000,-98.216667,-94.670,-94.844286,-79.065000,-68.250,-96.2125,6,5,2,7026

In [9]:
X = db.drop("lat", axis = 1)
X = X.drop("lon", axis = 1)
X.head()

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,pontoId
0,-89.044286,-96.667143,-91.320000,-96.106667,-94.480,-90.187143,-94.125000,-85.182,-96.4200,5,4,2,7531
1,-91.970000,-89.548571,-88.555714,-82.520000,-80.445,-89.910000,-88.916667,-91.602,-97.2550,5,2,4,7748
2,-85.255714,-99.635714,-86.551429,-94.520000,-100.225,-88.232857,-78.955000,-92.080,-66.4100,6,7,1,7636
3,-90.025714,-96.200000,-91.204286,-98.160000,-91.935,-92.671429,-78.636667,-68.340,-92.7800,6,5,2,7035
4,-94.525714,-96.200000,-93.830000,-98.216667,-94.670,-94.844286,-79.065000,-68.250,-96.2125,6,5,2,7026

In [10]:
lat = db["lat"]
lat.head()

0   -8.05438
1   -8.05337
2   -8.05390
3   -8.05561
4   -8.05562
Name: lat, dtype: float64

In [11]:
lon = db["lon"]
lon.head()

0   -34.95408
1   -34.94889
2   -34.95955
3   -34.95431
4   -34.95405
Name: lon, dtype: float64

In [12]:
res = pd.concat([lat, lon], axis=1)
res.head()

       lat       lon
0 -8.05438 -34.95408
1 -8.05337 -34.94889
2 -8.05390 -34.95955
3 -8.05561 -34.95431
4 -8.05562 -34.95405

In [13]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
#faz sentindo normalizar latitude e longitude
res['lat'] = lb.fit_transform(res['lat'])
res['lon'] = lb.fit_transform(res['lon'])
res

      lat  lon
0     251  318
1     324  612
2     286   27
3     151  303
4     150  321
...   ...  ...
1495  527  270
1496  575   31
1497  476  388
1498  323  610
1499  473  697

[1500 rows x 2 columns]

In [14]:
lb = LabelEncoder()
res['lat'] = lb.fit_transform(res['lat'])
res['lon'] = lb.fit_transform(res['lon'])

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, res, test_size = 0.3, random_state = 100)
X_train

,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,pontoId
355,-79.380000,-85.280000,-83.991429,-82.750000,-90.822500,-83.320000,-92.460000,-98.012,-96.7925,3,4,5,9135
1275,-84.954286,-100.288571,-82.805714,-94.765000,-100.225000,-80.160000,-86.781667,-85.380,-77.0400,7,7,1,7249
568,-80.942857,-86.960000,-79.698571,-86.703333,-89.900000,-88.897143,-85.911667,-98.012,-96.6025,2,4,5,9314
537,-79.760000,-87.062857,-74.510000,-78.820000,-90.942500,-83.760000,-88.710000,-98.590,-96.7175,2,4,4,9258
786,-89.826000,-90.996429,-97.560000,-86.640139,-86.817083,-82.875714,-91.176667,-96.350,-96.3725,5,2,4,7451
...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,-89.177143,-98.224286,-86.058571,-98.330000,-98.520000,-98.470000,-63.105000,-88.778,-90.5800,5,5,2,7901
53,-89.020000,-76.904286,-85.712857,-93.686667,-94.762500,-89.713214,-90.000000,-99.034,-94.4075,2,4,5,9544
350,-86.591429,-88.675714,-90.122857,-65.210000,-81.174000,-84.341429,-90.070000,-91.502,-97.2550,5,2,4,7793
79,-79.010000,-96.037857,-77.570000,-95.905000,-98.512500,-96.901429,-89.180000,-97.054,-99.6200,3,4,3,8787
792,-90.014286,-90.920000,-93.350000,-69.220000,-89.460000,-83.201429,-91.120000,-94.800,-97.6000,4,2,4,8085

In [16]:
from sklearn.ensemble import RandomForestRegressor
reg_cso = RandomForestRegressor(n_estimators = 1000, random_state = 42)
reg_cso.fit(X_train, y_train)
y_pred_cso = reg_cso.predict(X_test)

In [22]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
results = [mean_absolute_error(y_test, y_pred_cso), mean_squared_error(y_test, y_pred_cso), np.sqrt(mean_squared_error(y_test, y_pred_cso)), r2_score(y_test, y_pred_cso)]
results

[6.83185222222222, 148.24642818333334, 12.175648984071993, 0.9971731371801191]

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = {'n_neighbors': list(range(1, 41))}
knn = KNeighborsRegressor()
grid = GridSearchCV(
    knn,
    parameters,
    cv = 10,
    scoring = 'neg_mean_squared_error',
    return_train_score = True,
    refit = True
)
grid.fit(X_train, y_train)
grid.best_params_